<mat-toolbar>
  <div class="container">
    <button class="logo" (click)="redirectToHome()">
      <mat-icon>
        <img src="assets/education.png" alt="BookStore" />
      </mat-icon>
      <h2>BookStore</h2>
    </button>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="outline">
        <input
          type="text"
          placeholder="search"
          aria-label="Number"
          matInput
          [matAutocomplete]="auto"
        />
        <mat-icon matPrefix>search</mat-icon>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div class="container__cart">
      <div class="cart__right">
        <button>
          <span>Cart</span>
          <mat-icon>
            <img
              src="https://public-v2links.adobecc.com/f01e3875-2a95-4975-7ad1-9a60aa079aec/component?params=component_id%3A6861d6b7-251c-4183-b182-3281feb8b845&params=version%3A0&token=1610220091_da39a3ee_e8cbe432263a0816954e5b3dd4a8110d432765c1&api_key=CometServer1"
              alt="cart"
            />
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
