.mat-toolbar {
  background-color: #a03037;
  position: sticky;
  top: 0;
  z-index: 99;
}

.container {
  width: 75%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container > * {
  padding-right: 15px;
}

.example-form {
  width: 50%;
  border-radius: 2px;
  background-color: white;
}

.mat-form-field {
  width: 50%;
  background-color: white;
  border-radius: 2px;
  font-size: 16px;
  padding-top: 5px;
}
.mat-form-field input {
  outline: none;
}

.mat-form-field {
  line-height: 0 !important;
  width: 100%;
}

:host /deep/ .mat-form-field-wrapper {
  padding-bottom: 0% !important;
}

:host /deep/ .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}

:host /deep/ .mat-form-field-infix {
  border-top: 0;
}

:host /deep/ .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px;
  outline: none !important  ;
}
:host /deep/ .mat-form-field-flex {
  align-items: flex-start !important;
}

:host
  /deep/
  .mat-form-field-appearance-outline
  /deep/.mat-form-field-outline-start,
.mat-form-field-appearance-outline /deep/.mat-form-field-outline-end {
  border: none !important;
}

:host /deep/ .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 0.75em 0 0.75em;
  margin-top: -0.25em;
  position: relative;
  border-radius: 10px;
}

:host /deep/ .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0px !important;
}
:host /deep/ .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0px !important;
}

.logo {
  background: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.logo h2 {
  color: white;
}

.container__cart {
  background-color: transparent;
  width: 30%;
}

.cart__right {
  display: flex;
  justify-content: flex-end;
}

.cart__right button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

@media (max-width: 750px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .mat-form-field {
    display: none;
  }
}
