<div class="card">
  <div class="card__header">
    <img
      src="{{ book?.image }}"
      alt="{{ book.title }}"
      matTooltip="{{ book?.description }}"
    />
  </div>
  <div class="card__contents">
    <div class="contents__title">{{ book.title | slice: 0:20 }}</div>
    <span [ngStyle]="style">By {{ book?.author }}</span>
    <span>Rs.{{ book?.price }}</span>
  </div>
  <div class="card__actions">
    <button class="cart-btn" mat-stroked-button>ADD TO BAG</button>
    <button mat-stroked-button>WISHLIST</button>
  </div>
</div>
