<div class="main">
  <app-summary [book]="cartItem.Book"></app-summary>
  <div class="container__quantity">
    <div class="quantity__left">
      <button
        mat-icon-button
        [disabled]="cartItem?.ItemQuantity < 2"
        (click)="decrementQuantity(cartItem?.ItemQuantity)"
      >
        -
      </button>
      <button class="quantity-btn">{{ cartItem?.ItemQuantity }}</button>
      <button
        mat-icon-button
        [disabled]="cartItem && cartItem.ItemQuantity >= cartItem.Book.Quantity"
        (click)="incrementQuantity(cartItem?.ItemQuantity)"
      >
        +
      </button>
    </div>
    <div class="quantity__right" (click)="removeFromCart(cartItem.Book.Id)">
      Remove
    </div>
  </div>
  <div class="container__order">
    <button mat-stroked-button (click)="initiateOrder(cartItem.Book)">
      PLACE ORDER
    </button>
  </div>
</div>
