.container {
  width: 70%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.sub-header {
  width: 100%;
  margin: 10px 0;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sub-header select {
  padding: 5px 10px;
  outline: none;
}

.sub-header select option {
  border: none;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mat-card {
  max-width: 225px;
}
