<div class="container">
  <div class="sub-header">
    <h3 *ngIf="isAdmin === 'user'; else addBook">
      Books <sub>{{ "(" + total + ")" }}</sub>
    </h3>
    <ng-template #addBook>
      <div (click)="openDialog()">
        <h3>
          Add Books <sub>{{ "(" + total + ")" }}</sub>
        </h3>
      </div>
    </ng-template>

    <select
      name="filter"
      id="filter"
      (change)="filterBooks($event.target.value)"
    >
      <option value="RELEVANCE">Sort by relevance</option>
      <option value="PRICE_DESC">Price: High to Low</option>
      <option value="PRICE_ASC">Price: Low to High</option>
      <option value="DESC">Newest Arrival</option>
    </select>
  </div>
  <div class="main" *ngIf="!!cartItems">
    <span
      *ngFor="
        let book of paginatedBook
          | paginate
            : {
                itemsPerPage: pageSize,
                currentPage: p,
                totalItems: total
              }
      "
    >
      <app-book
        *ngIf="isCartLoaded && !!paginatedBook"
        [book]="book"
        [cartItem]="isAddedInCart(book)"
        (cartId)="addToCart($event)"
      ></app-book>
    </span>
  </div>
  <pagination-controls
    (pageChange)="p = $event; changePage($event)"
  ></pagination-controls>
</div>
