<div class="container">
  <div class="sub-header">
    <h3>
      Books <sub>{{ "(" + total + ")" }}</sub>
    </h3>
    <select
      name="filter"
      id="filter"
      (mouseenter)="isDropDownOpen = !isDropDownOpen"
      (mouseleave)="isDropDownOpen = !isDropDownOpen"
    >
      <option value="">Sort by relevance</option>
      <option value="">Price: High to Low</option>
      <option value="">Price: Low to High</option>
      <option value="">Newest Arrival</option>
    </select>
  </div>
  <div class="main">
    <span *ngFor="let book of books">
      <app-book [book]="book"></app-book>
    </span>
  </div>
</div>
