<div class="container">
  <div class="sub-header">
    <h3>
      Books <sub>{{ "(" + total + ")" }}</sub>
    </h3>
    <select
      name="filter"
      id="filter"
      (change)="filterBooks($event.target.value)"
    >
      <option value="RELEVANCE">Sort by relevance</option>
      <option value="PRICE_DESC">Price: High to Low</option>
      <option value="PRICE_ASC">Price: Low to High</option>
      <option value="DESC">Newest Arrival</option>
    </select>
  </div>
  <div class="main" *ngIf="!!cartItems">
    <span
      *ngFor="
        let book of paginatedBook
          | paginate
            : {
                itemsPerPage: pageSize,
                currentPage: p,
                totalItems: total
              }
      "
    >
      <app-book
        *ngIf="isCartLoaded && isBooksLoaded"
        [book]="book"
        [cartItem]="isAddedInCart(book)"
        (cartId)="addToCart($event)"
      ></app-book>
    </span>
  </div>
  <pagination-controls
    (pageChange)="p = $event; changePage($event)"
  ></pagination-controls>
</div>
