.container {
  width: 70%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.sub-header {
  width: 100%;
  margin: 10px 0;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sub-header select {
  padding: 5px 10px;
  outline: none;
}

.sub-header select option {
  border: none;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mat-card {
  max-width: 225px;
}

:host /deep/.ngx-pagination .current {
  background: #a03037 !important;
  margin-bottom: 5%;
  padding: 2% 5%;
}

:host /deep/ .ngx-pagination {
  width: 100%;
  margin-left: 0;
  margin-bottom: 1rem;
}
