.container {
  display: flex;
  width: 60%;
  border: 1px solid gainsboro;
  border-radius: 1px;
  margin: 30px auto;
  flex-direction: column;
}

.container > * {
  padding: 1em 1.5em;
}

.container__header {
  font: normal normal medium 18px/22px Lato;
  letter-spacing: 0px;
  color: #0a0102;
  font-weight: 600;
}

.mat-stroked-button {
  line-height: 30px;
  height: 34px;
  border-radius: 1px;
}

.btn-checkout {
  text-align: end;
}
