<div class="container">
  <img src="assets/order.svg" alt="" />
  <p class="order-successful">Order Placed Successfully</p>
  <div class="container__bottom">
    <p class="order-confirmation">
      hurray!!! your order is confirmed the order id is {{ id }} save the order
      id for further communication..
    </p>
    <div class="table">
      <div class="first-row">
        <span>Email us</span>
        <span>Contact us</span>
        <span>Address</span>
      </div>
      <div class="first-row second-row">
        <td>admin@bookstore.com</td>
        <td>+911234567890</td>
        <td>221B Baker St, Marylebone, London NW1 6XE, UK</td>
      </div>
    </div>
  </div>
</div>
